*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --color1: rgb(135, 76, 180);
    --color2: white;
}

body{
    color: white;
    font-family: poppins;
    background: rgb(113, 68, 155);
}

.card{
    width: 90%;
    max-width: 500px;
    margin: 40px auto 0px;
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    color: var(--color2);
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    font-size: 17px;
    width: 85%;
    padding: 7px 15px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.search button{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search img{
    width: 15px;
}

.weather-image{
    width: 120px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col img{
    width: 20px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 15px;
}

.error-message{
    margin-top: 20px;
    font-weight: bold;
    display: none;
}