*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --color1: rgb(172, 131, 43);
    --color2: white;
}

body{
    background-color: var(--color1);
    color: white;
}

.card{
    width: 90%;
    max-width: 500px;
    /* margin: 40px auto 0px; */
    background-color: var(--color1);
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    color: var(--color2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    font-size: 17px;
    padding: 7px 15px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.search button{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.search img{
    width: 15px;
}

.weather-image{
    width: 150px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col img{
    width: 27px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 30px;
}

.weather{
    display: none;
}

.error-message{
    margin-top: 20px;
    font-weight: bold;
    display: none;
}